<header>
  <h1>Best Books!</h1>
  <div class="links">
    <span class="icon">
      <span></span>
      <span></span>
      <span></span>
    </span>
    <ul>
      <li><a href="/">HOME</a></li>
      <li><a href="/searches/new">Search</a></li>
    </ul>
  </div>
</header>